[2019-12-18 19:14] dataCobra opened #1 "The tags for a specific post are not shown below the post"
I found out, that the tags that a post can have a not visible below this post.
But there should be visible above the footer.

- [x] Review the code
- [x] Create a working prototype
- [x] Commit a fix for master
- [x] Release new minor fixup for Vitae

[2019-12-18 20:13] dataCobra commented on #1
I reviewed the code but can't tell why this problem occurs. I'll dig a bit deeper into this.
Maybe I can find a solution in the upcoming days before christmas.

[2019-12-19 15:57] #1 closed

[2020-03-22 11:53] nardoyala opened #3 "head and header partials"

[2020-03-22 11:55] nardoyala commented on #3
Is there any reason why the head partial is the header and the header partial is the head?

I changed it in my forked version, but I'm curious about the reason for that.

[2020-03-22 13:43] dataCobra commented on #3
Hey @nardoyala, this is probably a remnant from the theme that I used as a template for hugo-vitae.

Could you create a pull request with your fix for this mess?

[2020-03-22 14:23] dataCobra commented on #3
I'm changing a few things on the theme right now. So I will make the change myself and commit. Then you don't need to make a pull request.

[2020-03-22 14:40] #3 closed

[2020-04-06 19:40] henryhe1 opened #4 "emojis and bold text are not displaying"
not recognizing [emojis](https://themes.gohugo.io//theme/hugo-vitae/post/emoji-support/) or **bold text** from markdown. Is this something I have to make a custom CSS for?

_italics_ currently work

[2020-04-06 21:44] henryhe1 commented on #4
Seems like any html in markdown is not being generated. Including embeds, emojis, etc

[2020-04-07 04:32] dataCobra commented on #4
Hello @henryhe1,

it would be easier for me if you show me snippets of what exactly you try.

[2020-04-07 14:58] henryhe1 commented on #4
Hey @dataCobra , thanks for the reply! This is very helpful. I was mainly intending to use html for centering text as well as embedding soundcloud links.

And emojis do work for me now with enableEmoji set to true and using shorthands; before I was trying to copy the exampleSite emoji post which didn't work.

Regarding the bold text, I believe it is working when I zoom in, I think the bold font we

[2020-04-08 15:01] dataCobra commented on #4
@henryhe1 that is a strange behavior. But if you want to try a higher font-weight, you could add the following to your custom CSS.
[code]
Could you tell me which browser you're using to display the page?

Since I am currently working on the redesign, I can use this information to directly correct such errors for the future.

Thank you for reporting this errors :+1:

[2020-04-09 14:01] henryhe1 commented on #4
@dataCobra thanks a lot. It is working but just doesn't pop out on screen enough even with the weight at 700. I like Roboto but I just switched to OpenSans to make it easier. I am using Chrome. Looking forward to the redesign!

![image](https://user-images.githubusercontent.com/12023120/78903329-f7b09400-7a48-11ea-929b-86cdcc9e71b6.png)

[2020-04-12 17:50] dataCobra commented on #4
@henryhe1 thanks for your answer. :slightly_smiling_face:

I will close this issue now. :+1:

[2020-04-12 17:50] #4 closed

[2020-04-21 07:37] dataCobra opened #5 "rss.xml breaks RSS for content that is not on the homepage"
With commit f081bb851659af856c7181fb4cc69403ad60ff5b I've overwritten more of the default `rss.xml` that Hugo provides than I actually wanted to.

I want to provide a good `rss.xml` file, so there will be no quick fix. I now have to take a closer look at the file and think about how to solve this error in a reasonable way.

[2020-04-21 10:09] #5 closed

[2020-04-27 03:31] viniciusalmada opened #6 "Disqus showing console error"
Disqus is not loading and showing an:
`Uncaught TypeError: Cannot read property ‘appendChild’ of null`.

[2020-04-27 03:34] viniciusalmada commented on #6
To fix it, you may had to add the following piece of code to the top of `layouts/partials/disqus.html`:
[code]

[2020-04-27 05:25] #6 closed

[2020-04-27 05:27] dataCobra commented on #6
Thanks you for this issue. :+1:
I've added the `<div>` tag so this should work now.

[2020-05-07 06:23] dataCobra opened #10 "Don't display menu if there is no entry"
If someone doesn't use the menu, it should not be displayed.

This should be the default behavior and would make the theme even more flexible.

[2020-05-07 06:24] dataCobra opened #11 "Don't display footer if no information is available"
If someone doesn't use the footer, it should not be displayed.

This should be the default behavior and would make the theme even more flexible.

[2020-05-07 06:31] dataCobra opened #12 "The date of the post should not be displayed for a selected content type"
I would like to have the ability to not display the date on the single page view for certain content types.

As an example I take the "About" page. In my opinion there is no reason to show the date there.
Also, this change makes a clearer difference between posts and simple pages more visible.

[2020-05-07 06:37] dataCobra opened #13 "Add the possibility to display information texts in specific parts."
I want to be able to add information texts in specific parts on the website.
Sometimes it might be necessary to give some information to the visitor.

[2020-05-07 06:46] dataCobra opened #14 "Write a better and more detailed documentation"
Currently the documentation is kept very small in order to reduce the effort of editing.

Due to the features of the theme there should be a comprehensible and detailed documentation.

[2020-05-09 05:35] #12 closed

[2020-05-09 05:52] dataCobra opened #16 "Maybe allow the possibility of adding cover images for posts?"
The idea has not yet been further thought through.

[2020-05-19 14:17] jlandowner opened #17 "Custom css is not applied by example config.toml"
I found an incorrect example in config.toml.
I set custom css option as referenced in example `exampleSite/config.toml`, but it was not be applied.

[code]
css is here.
[code]

I found the generated link tag `href` is incorrect.
[code]

This is because `layouts/partials/head.html` already specifies "css" in fixed path.

[code]

I got 2 options.
1. remove "css" from `exampleSite/config.toml`
2. rem

[2020-05-21 19:13] dataCobra commented on #17
Hey @jlandowner, thank you for the detailed information. :+1:

I like the first option way more than the second. This might be a bit restricted
if you want a specific path for the customcss but in my opinion the path default
is where the css files should stay.

[2020-05-21 19:19] #17 closed

[2020-05-21 23:02] jlandowner commented on #17
Thank you for your reply and update.

And thank you for your good theme!

[2020-05-26 09:37] dataCobra opened #19 "Displayed date creates an unwanted break if the size of the characters in sum is over css class width"
I tried to fix this in early 2020 after this issue came up the first time.
Now in May 2020 we got the same problem.

Expect:
May 2020

Reality:
May
2020

I need to make some tests to figure out how to fix this in a proper way instead of just set the width of date class in main.css to a higher value then 64px.

[2020-05-26 09:57] #19 closed

[2020-06-21 22:55] muhannad0 opened #20 "Embedded gist inherits styling from main CSS"
Hi Ben.

Wanted to get your feedback on this. I tried to embed a gist using the short code. But the table styling in `main.css` is inherited to the gist styling somehow. Alternative rows are highlighted in gray. I've attached  screenshot to show how it looks.

I understand you might have including this styling for markdown tables.

I figured out the lines to fix the gist appearance are in `main.cs

[2020-06-23 04:38] dataCobra commented on #20
Hi Mohamed,

thank you for the information about the embeding of gists. I was not aware that my table styles would
make problems. I never used it before.

I'll look into this and give you a response at soon as I've a idea on how to approach this. :+1:

[2020-06-23 09:37] muhannad0 commented on #20
Thanks Ben.

I tried adding the following to `main.css`. It seems to fix the styling for the gist. Not sure if this is best practice for hugo themes, but it's a suggestion.

[code]

[2020-06-25 19:36] dataCobra commented on #20
Hey Mohamed,

could you send me your markdown file as a testing example for my changes?
This would help me a lot. :+1:

[2020-06-25 20:22] muhannad0 commented on #20
Sure thing. Here's the test post I was using. (rename the file extension to .md)
[test-gist.txt](https://github.com/dataCobra/hugo-vitae/files/4833658/test-gist.txt)

[2020-07-02 15:20] orasik opened #22 "Home page to get data from a page file?"
Hi,
Is it possible for the home page to get its content from a file instead of listing posts or pages.?

Example:
[code]

I would like home page to show content from `content/pages/home.md`

[2020-07-04 12:12] dataCobra commented on #22
Hello @orasik,

currently there is no possibility to change the homepage from a listing to content from a file.
After I read your issue and thought about it, I would really like to add this feature.

I make this issue a feature request and set it as a Milestone for 2.1

Thank you for your issue and the idea. :+1:

[2020-07-04 12:38] orasik commented on #22
Thanks Ben!
Glad you liked the idea. I have already implemented it, you can see it here: https://www.30daysofjumpingrope.com (WIP :) )

What I did was changing the `index.html` template and added the page  in `_index.md` file under `content/` folder.

If you like it, I can raise a PR for the enhancement.

Kind regards,
Oras

[2020-07-04 13:07] dataCobra commented on #20
I've tried some different stuff and found your suggestion was the best to work around this problem.

@muhannad0, I would really appreciate if you could try this change out and give me feedback.
In a few days I will create a release with this fix.

[2020-07-06 17:59] #10 closed

[2020-07-06 17:59] #11 closed

[2020-07-06 19:12] dataCobra commented on #16
I've created a first version of this feature in the 2.1-dev branch.

For now this is nothing more than adding an image in the appropriate size to the post.
Maybe it turns out that it doesn't need more than that.

[2020-07-06 19:18] dataCobra opened #23 "The proper indentation is still missing in most files"
The lines of code are not yet indented despite the past improvements.
This means that in many cases the files are still difficult to read.

This needs to be changed!

[2020-07-07 07:08] muhannad0 commented on #20
Hi Ben. Just tested the with the new commit. The gist is displayed correctly, so its working fine. 👍

[2020-07-07 18:05] #20 closed

[2020-07-19 21:17] omajid opened #24 "In-line code blocks are not very obvious"
Hi, Thanks for creating this great theme!

I am really liking this theme and using it for my personal website.

I noticed that - compared to many other themes - this one doesn't make in-line code fragments stand out.

For example, in the following rendered text, it's hard to tell if the comma (",") in the second line is part of the code or not:

![image](https://user-images.githubusercontent.com/1

[2020-07-20 04:54] dataCobra commented on #24
Hello @omajid ,

thank you for this information. The inline code should stand out more from the normal text.

I think this is a very important feature and I will prioritize this now over the others. :+1:

[2020-07-20 07:22] dataCobra opened #25 "Add functionality to use commento.io for comments"
Disqus has some major problems as a third-party comment system.

For this reason I want to be able to use comment.io instead of Disqus.

You can choose which system to use via the Hugo config.

[2020-07-20 19:57] dataCobra commented on #24
@omajid I've added some styling for inline code now. Please let me know what you think of it.

I will wait for your reply before I create a new release with this feature included.

[2020-07-20 21:56] omajid commented on #24
Thanks for the quick fix. I have one piece of feedback: due to the colour choices, it's almost impossible to distinguish a code that is a link from a code that's not. Here's an example:

![image](https://user-images.githubusercontent.com/174451/87990451-054ad080-cab2-11ea-894b-4526ede70f45.png)

Here [`musl`](https://musl.libc.org) is supposed to be a link, but `glibc` isn't. Even github highlight

[2020-07-21 04:46] dataCobra commented on #24
@omajid oh yeah not a great idea to make the color the same as the links. I'll fix that. :+1:

[2020-07-21 04:54] dataCobra commented on #24
@omajid I've fixed the text color now and made the background a bit darker. Please again let me know what you think.

[2020-07-22 02:26] omajid commented on #24
Thanks, that mostly solves all my concerns. I don't quite have an artist's eye, so I can't really say if making it darker is a good idea or not.

[2020-07-22 07:51] dataCobra commented on #24
What is your personal opinion about the darker background?

Unfortunately I am not in a position to judge this for myself because I have not used it so often.
That is why your opinion about the background is so important to me. :+1:

[2020-07-23 02:45] omajid commented on #24
I don't have a designer's sense of colours. I tried tweaking some colour values, and it seems like something just a little big lighter (`#F1F1F1`, compared to the current `#E1E1E1`) might be better?

In my own quick tests, it looks like the lighter the background colour, the easier it is to tell whether the inline-code is a link or not. With `#F9F9F9`, for example, it's easier to tell link vs non-

[2020-07-23 05:14] dataCobra commented on #24
I will go with the color `#F1F1F1`, because with this background color it is neither too dark nor too light.

After I've changed that I will create a new release. :+1:

Thank you for your help @omajid.

[2020-07-23 08:56] dataCobra commented on #24
Thank you very much for your help on this issue @omajid. :+1:

I've made the changes as written in my last post and will now close this issue.

[2020-07-23 08:56] #24 closed

[2020-07-23 09:03] dataCobra commented on #22
Hello @orasik,

I've finally found some time to work on this issue. :+1:

I would really like to see your approach on this feature request.
I'd appreciate it if you could make a pull request. (Please to `2.1-dev` not `master` branch)

[2020-07-23 13:35] omajid commented on #24
Thanks for fixing this so quickly!

[2020-07-25 17:35] dataCobra commented on #13
I have now thought about this subject for a long time. Currently I don't see any need for such a feature. So I'll close here for now.

[2020-07-25 17:35] #13 closed

[2020-07-25 17:38] dataCobra commented on #16
After some tests I'm now able to say that this implementation is enough for now.
Therefore I will close this issue as successfully completed.

[2020-07-25 17:38] #16 closed

[2020-07-25 20:07] dataCobra commented on #25
I implemented this feature on the `2.1-dev` branch. I was not able to test it fully, but I think this will work great.
Problem will be discussed in new issues.

[2020-07-25 20:07] #25 closed

[2020-07-31 19:15] rogeriod opened #26 "Links of tags in pages are broken when hugo site is in a subdirectory"
Not sure if this is a bug or a newbie issue (I'm new to Hugo).

I've decided to host the Hugo site files in a "/site" folder on my public web directory, as I have other assets on that folder.

I've updated the config.toml file and the Hugo site generates okay - all links take into consideration the "/site" bit on the url. However, the tags at the bottom of a post page will not update to include th

[2020-07-31 19:26] dataCobra commented on #26
Hello @rogeriod, thank you for this report. :+1:

This seems to be a bug with the theme.

I'll look into this and give you some feedback.
If it really a bug I think it will be quite easy for me to fix.

Greetings Ben

[2020-08-01 07:23] dataCobra commented on #26
Hello @rogeriod, this problem was a bug and not a newbie issue. :+1:

I've fixed it with the latest commit so you shouldn't get problems now if you
use the latest version from the master branch.

It is also very important to me to note that even if you "only" have an
understanding problem with the theme you are always welcome to open an issue.

[2020-08-01 09:09] rogeriod commented on #26
Hi Ben,

That's brilliant. Many thanks!

Just one more question: does the theme allow for the link text colour on post titles and other links to be changed? I had a quick look at the CSS files but I couldn't figure it out.

Thanks again, best regards
Rogério

[2020-08-01 09:50] rogeriod commented on #26
Thanks @dataCobra, appreciated.

[2020-08-01 09:50] #26 closed

[2020-08-01 14:21] dataCobra commented on #22
This feature is now available on the 2.1-dev branch.

[2020-08-01 14:21] #22 closed

[2020-08-01 15:10] #23 closed

[2020-08-01 15:10] #14 closed

[2020-08-22 10:23] wodecs opened #27 "CSS doesn't work"
sorry

[2020-08-24 05:49] dataCobra commented on #27
Hello @wodecs, the Problem is that you forgot to set the right Link in your configuration of the Website.

In your `config.toml` there is the first row with the following: `baseURL = "http://example.org/"`.

You need to change this to `baseURL = "https://wodecs.github.io/".

Try this and check if this is a fix for your problem. :slightly_smiling_face:

Greetings, Ben

[2020-08-26 07:15] dataCobra commented on #27
Hey @wodecs, is your problem solved?

I would like to close this issue. :slightly_smiling_face:

Greetings, Ben

[2020-08-26 07:18] wodecs commented on #27
Alright.

________________________________
From: Ben <notifications@github.com>
Sent: Wednesday, 26 August 2020, 15:15
To: dataCobra/hugo-vitae
Cc: Wo De; Mention
Subject: Re: [dataCobra/hugo-vitae] CSS doesn't work (#27)

Hey @wodecs<https://github.com/wodecs>, is your problem solved?

I would like to close this issue. 🙂

Greetings, Ben

—
You are receiving this because you were mentioned.
Reply

[2020-08-26 07:30] #27 closed

[2020-08-29 01:40] dc0d opened #28 "Value should be inside double quotes"
Inside the header template file, `layouts/partials/header.html`, this HTML tag:

[code]

should be:

[code]

[2020-08-29 11:12] #28 closed

[2020-08-29 11:13] dataCobra commented on #28
@dc0d, thank you for reporting. :+1:

[2020-08-29 12:33] dc0d commented on #28
@dataCobra thank you for this amazing hugo theme! 🙏👍

[2020-09-10 20:35] giovanialtelino opened #29 "href link in terms.html doesn't work"
I was having an issue in the [terms.html](https://github.com/dataCobra/hugo-vitae/blob/master/layouts/_default/terms.html) file.

The Tag Cloud was generated but the absolute link (absURL) wasn't creating the last "/", so, for example, my links were
"https://www.giovanialtelino.comtags/clojure/" instead of "https://www.giovanialtelino.com/tags/clojure/". And it only happened  after I generated the

[2020-09-11 05:36] dataCobra commented on #29
Hello @giovanialtelino,

thank you for this report. :+1:

I'm not able to reproduce your problem. For my test cases everything went as expected.

It would be nice if you could show me your `config.toml` file.

I hope we can find a solution for this.

Regards Ben

[2020-09-11 13:11] giovanialtelino commented on #29
Yes for sure, if you want to I can also deploy an older version without the change I made.

[code]

[2020-09-11 14:00] #29 closed

[2020-09-11 14:03] dataCobra commented on #29
Hey @giovanialtelino,

thanks again for this report. :+1:

With your help I was able to recreate and fix the problem.

Thanks a lot. :slightly_smiling_face:

Regards Ben

[2020-09-11 14:30] giovanialtelino commented on #29
no problem, glad to help, I'm the one thankful for the nice theme!

Giovani..

[2020-09-24 23:45] wo0bo23go2 opened #30 "How do I change font?"
I want Sans-serif font from serif. Just put font into the webfont folder?

[2020-09-25 05:26] dataCobra commented on #30
Hello @wo0bo23go2,

please add a description of your problem to this issue.

Otherwise I'm not able to help.

Regards Ben

[2020-09-26 02:50] wo0bo23go2 commented on #30
@dataCobra I edited.

[2020-09-26 11:20] ihzarizkyk opened #31 "Image thumbnail does not appear"
How do I display thumbnail images of each of my blog articles?

[2020-09-26 12:45] dataCobra commented on #31
Hello @ihzarizkyk,

I'm very sorry but I don't understand what you mean with thumbnail image does not appear.

It would be nice if you could give me some morr information about your problem.

Regards Ben

[2020-09-26 12:53] ihzarizkyk commented on #31
I mean, why when I display the Hugo blog article link, the thumbnail image does not appear like YouTube, which shows the thumbnail

[2020-09-26 12:53] ihzarizkyk commented on #31
![Uploading Screenshot_2020-09-26-19-53-10-430.jpeg…]()
Like this post

[2020-09-26 12:53] dataCobra commented on #30
Hello @wo0bo23go2,

it depends on what you want to do.

If you want to add your own font, create in your hugo web folder a new folder with the name static and in this a folder with name webfont.

Next you need to add these fonts into your custom CSS file.

Search for "how to add the fonts via CSS" in a searchengine and you will find a guide. You can also look into the main.css folder of the theme

[2020-09-26 12:59] ihzarizkyk commented on #31
![Screenshot_2020-09-26-19-53-10-430](https://user-images.githubusercontent.com/56474969/94341331-b03bb580-0032-11eb-99fa-cb510eb2454d.jpeg)

Like this thumbnail youtube

[2020-09-26 13:06] dataCobra commented on #31
I'm very sorry, but the feature you're looking for is currently not available for Hugo-Vitae.

Where did you read that this feature is available for Hugo-Vitae?

[2020-09-26 13:09] ihzarizkyk commented on #31
Yes I know that, but you know image thumbnail?

[2020-09-26 13:14] ihzarizkyk opened #32 "Image post"
Why does it not appear when I make a markdown to display images on my posts? However, the header image can appear

[2020-09-26 13:36] dataCobra commented on #31
I know what you mean, but I don't know how to implement this. If you want this feature in Hugo-Vitae add the feature and make a pull request please.

I have sadly no time to learn about implementation and also implementing it.

Regards Ben

[2020-09-26 13:37] dataCobra commented on #32
Please use the old issue for this topic and don't create a new one. Thank you.

Regards Ben

[2020-09-26 13:37] #32 closed

[2020-09-26 13:40] ihzarizkyk commented on #31
And then Why does it not appear when I make a markdown to display images on my posts? However, the header image can appear

[2020-09-26 16:00] wo0bo23go2 commented on #30
@dataCobra When I created and publish custom css file, My blog looks ugly. It looks like without hugo theme and css style.

[2020-09-26 19:31] #30 closed

[2020-09-27 05:02] #31 closed

[2020-09-29 17:06] ihzarizkyk opened #33 "Please add the image property meta tag in the Hugo Vitae template to display image thumbnails"
`
<meta property="og:image" itemprop="image" content="image" />`

Like that

[2020-09-30 11:55] #33 closed

[2020-11-17 23:32] nardoyala opened #36 "Using Markdown Render Hooks to make links open in new tabs"
I discovered today that you can make links rendered by Goldmark have the attribute `target="__blank"` in order to open in new tabs.

The only thing you need to do is to create a file called `render-link.html` inside a folder called `_markup` in your defaults as I show you here:

[code]

That way you can change how Goldmark renders links. In order to make them open in new tabs the code must be some

[2020-11-18 06:11] dataCobra commented on #36
Hey @nardoyala,

thank you for this information. :+1:
I would really appreciate it if you could submit a pull-request for this feature.
I think it's a really good idea to make "_blank" the default link behavior.

Greetings, Ben

[2020-11-18 13:31] nardoyala commented on #36
Excellent @dataCobra ,

I'm thrilled to contribute to your repo. I love your template and I built mine using yours as base.

I'll send you a pull request in an hour or so with this new feature.

Greetings.

[2020-11-22 15:52] #36 closed

[2020-11-27 11:13] nardoyala opened #38 "Render images inside <figure> tags instead of <p> tags"
Hi! It's me again,

I have a new propose for you. Hugo's markdown renderer puts images inside `p` tags. I found that behavior awful, so I've change that in my theme with a render hook.

Do you believe that's something you'd want for your theme? If that's the case I'll be more than happy to create a PR adding that small modification.

I will create a new file called `render-image.html` inside the _

[2020-11-27 11:54] dataCobra commented on #38
Hey @nardoyala,

Thanks for your contribution, I like the idea of changing the tags for images from `<p>` to `<figure>`.
It would be really nice if you could create a PR for this small change.

I'll check the behavior with this change afterwards so you don't need to.

Regards, Ben

[2020-11-27 12:05] nardoyala commented on #38
Excellent! Thank you for letting me contribute. I'll send you a pull request at some point of this day.

Regards, Bernardo.

[2020-11-30 07:10] #38 closed

[2020-12-15 20:11] karelbemelmans opened #40 "Changed terms.html broke my site"
No change on my site, just doing an update to the latest codebase gives me this error:

ERROR 2020/12/15 21:09:06 render of "taxonomy" failed: "website/themes/hugo-vitae/layouts/_default/terms.html:9:14": execute of template failed: template: _default/terms.html:9:14: executing "main" at <div (sub $maxFontSize $minFontSize) (sub $max $min)>: error calling div: can't divide the value by 0

[2020-12-15 20:27] dataCobra commented on #40
Hey @karelbemelmans,

how does your website look at the moment? Can I've a look?

[2020-12-15 20:35] karelbemelmans commented on #40
I update to another theme by now, but here is the point in my repo that I was still configured for vitae:

https://github.com/karelbemelmans/personal-website/tree/330696360def370b8ac92ba78be8d6759ff09808

[2020-12-15 20:57] dataCobra commented on #40
Hey @karelbemelmans, I think I've fixed your problem.

Please check the version with the new commit.

[2020-12-15 21:00] dataCobra commented on #40
I've broke some more give me a sec to fix. Sorry for the problem.

[2020-12-15 21:09] dataCobra commented on #40
I've tested the fix now and it finally works. Please test the latest commit version.

[2020-12-17 06:12] #40 closed

[2020-12-17 07:34] dataCobra commented on #40
Hey @karelbemelmans,

thank you for reporting this issue. :+1:

While adding this feature I forgot to check what happens when there is one or zero entries in taxonomies.
I took some time now to examine the problem and found a solution for the problem that is now commited.

I would be nice if you could check if this solution works also for your website.

Greetings, Ben

[2020-12-17 07:45] karelbemelmans commented on #40
I'll see if I can test it this weekend, thanks for the quick fix!

[2020-12-26 14:24] kesseract opened #41 "Feature Request: Social Media Share buttons are highly desirable for Posts."
It will be great if share buttons LinkedIn, Twitter, Facebook, etc can be added to all Posts in this fantastic theme.

[2020-12-27 11:57] fourstepper opened #42 "Definition of the target URL in the title"
Hi,

First of all, thanks for the great theme!

I have come across an issue when deploying the website that wasn't apparent when testing the site on localhost, which is the behaviour of the title. When I click the title (Robin Opletal on this page: https://robinopletal.com/) I get redirected to localhost:1313 instead of getting redirected to the baseURL of the website (which would've been expected

[2020-12-28 07:16] dataCobra commented on #42
Hi @fourstepper,

this seems to be a problem with your configuration file for your Hugo website.
Please check your configuration file for the "baseURL" it seems like you forgot to change this to "https://robinopletal.com".

I hope this helps and can fix your issue.

Greetings, Ben

[2020-12-28 08:20] fourstepper commented on #42
Hi Ben,

Thank you for the reply.

I believe this is not the case. As deployed at https://robinopletal.com, the code is available at https://gitlab.com/opletalrobin/robinopletal.com, with all the hugo site data being under the site/ folder - baseURL is set correctly.

I might have found the issue though..

Layer 12: https://hub.docker.com/layers/fourstepper/robinopletal.com/latest/images/sha256-bb

[2020-12-28 09:11] fourstepper commented on #42
Alright, solved it like this in the relevant Dockerfile:

https://gitlab.com/opletalrobin/robinopletal.com/-/blob/master/Dockerfile

1) Had to set the correct HUGO_BASE_URL in the Dockerfile
2) Had to set --appendPort to false

Thanks for the help @dataCobra

[2020-12-28 09:11] #42 closed

[2020-12-28 09:14] dataCobra commented on #42
Thanks for the reply @fourstepper. :+1:

I've never used docker for Hugo website deploy. Good to know that for the future. :slightly_smiling_face:

Thank you.

- Ben

[2020-12-28 09:17] fourstepper commented on #42
Actually, I am still having some issues now, possibly because now the container behind traefik is only listening to https://robinopletal.com

[2020-12-28 09:22] fourstepper commented on #42
Well okay, as I managed to solve that too, here is the full dockerfile - the hugo website just has to be in the site/ subdirectory compared to the Dockerfile

https://gitlab.com/opletalrobin/robinopletal.com/-/blob/master/Dockerfile

I was missing --bind=0.0.0.0

[2021-01-30 20:57] ndy40 opened #43 "Theme is missing .woff2 font-files for FontAwesome (solved) -> Still open as a reminder"
The theme makes a request for `fa-brands-400.woff2` but that isn't present.

[2021-01-30 21:01] dataCobra commented on #43
What exactly was your problem?

[2021-01-30 21:02] ndy40 commented on #43
Creating a PR shortly.

[2021-01-30 21:58] dataCobra commented on #43
I've solved the problem with commit b7e5602.

@ndy40, for future testing I would really like to know which smartphone and browser you used to stumble across this problem.

[2021-01-30 22:00] ndy40 commented on #43
@dataCobra

Sure would do. I intended to provide that info but the person wasn't responsive. Thanks for the update all the same.

[2021-01-30 22:01] dataCobra commented on #43
I'll let this issue open for now as a reminder for me.

Because I still want to try to use only the woff file-format for FontAwesome in the future. Also to reduce the theme size.

[2021-01-30 22:04] ndy40 commented on #43
Got that info from the person.

Phone Model - Samsung A10
Browser - Chrome

[2021-01-30 22:09] dataCobra commented on #41
Hey @kesseract,

because the theme should be GDPR user-friendly, this is pretty hard to implement.

I would need to add a fully functional cookie consent with all the necessary stuff for GDRP law.

For the time being this is would take up to much of my time.

Regards, Ben

[2021-01-30 22:09] #41 closed

[2021-01-30 22:11] dataCobra commented on #43
Thanks a lot for this information.

Could you ask the person also for the android version in use?

This would help me a lot. :+1:

[2021-01-31 20:36] ndy40 commented on #43
So the Android version is 10.

The issue with the site has nothing to do with the work you have done. There were some CORS errors as a result of how the person connected to the internet. He later tried it on a different mobile network and the theme works without issues.

Sorry for the false alarm.

[2021-02-03 17:52] dataCobra commented on #43
Thank you for the information anyways @ndy40. :+1:

Since I've removed all unnecessary webfont types I can close this issue now.

[2021-02-03 17:52] #43 closed

[2021-02-09 23:12] GaetanLepage opened #46 "Possibility to align images"
I know that some of the Hugo themes (such as Icarus and Hermit) offer a way to align images (included thanks to the `figure` shortcode) to be aligned left or right.

I basically know nothing about css but understood that they used the `class` attribute to invoke a css style:
```{{< figure src="/img/my_image.png" width=200 class=alignleft >}}```

[code]

I tried to manually edit the `/static/css/ma

[2021-02-10 06:41] dataCobra commented on #46
Hey @GaetanLepage,

I've heard about this method. I'll will check how it can implemented the best and try to add it to the theme. :+1:

Greetings, Ben

[2021-02-16 14:48] dataCobra commented on #46
Hey @GaetanLepage,

currently I'm working out how to proceed with the theme and what improvements and changes to consider for an upcoming release.

I've added this as part of the milestone to version 3.0.

So it is very likely that this feature will find its way into the theme with the next major release. :+1:

[2021-04-12 08:44] GaetanLepage opened #48 "KaTeX inline equations not rendering"
Hello !
I am trying to embed maths in my website.
The block equations ($$x = 1$$) are rendering as expected. However, inline ones are not working (foo $x=1$ bar).

I don't know if this issue comes from KaTeX or not.
Is there a way to use Mathjax instead of KaTeX as it would maybe solve the issue ?

[2021-04-12 09:20] #48 closed

[2021-04-12 09:24] dataCobra commented on #48
Hey @GaetanLepage,

since Hugo 0.62 inline math was no longer working.

I've added a workaround so your inline math code should work now.

Use the latest version of the master branch and test it for you please.

**Please give me a feedback if it worked or not.**

[2021-04-12 18:08] dataCobra commented on #46
Hey @GaetanLepage,

The next version of Vitae is coming soon and I have managed to include this feature in the new version.

[2021-04-12 19:38] GaetanLepage commented on #46
Thank you very much !!!

[2021-04-12 19:44] GaetanLepage commented on #48
Dear @dataCobra,
I confirm you that it works thanks to the latest version !

Thank you for the quick fix :)

[2021-04-14 20:49] wondercomm opened #49 "Deploy on Netlify?"
Hi,

I am a newbie to static websites, I was wondering if there is any documentation available on how to deploy this theme on netlify? So far, I was able to fork the theme, and then when I go to Netlify to deploy from my gihub, I need to enter the following:
1. Build Command
2. Publish Directory

Any help that you can provide on this would be greatly appreciated.
Thanks !

[2021-04-15 19:41] dataCobra commented on #49
I'm sorry but I have no knowledge in netlify.

Maybe there is information about it in the Hugo wiki?

Greetings

[2021-04-15 20:27] wondercomm commented on #49
No worries, I'll try to figure it out. Netlify is a hosting platform like godaddy. Netlify works seamlessly with many hugo easy set up themes. It looks for a netlify.toml file in the root directory where the build command and location of public directory are stored. Once I figure it out, I'll update this thread. Thank you for replying.

Sincerely,
Varun Singh

________________________________
From

[2021-04-23 20:31] RedsonBr140 opened #50 "How to enable search bar"
Vitae is a very good theme, and I believe that it would not lag behind the other themes, so ... Is there a search bar? And if so, how to enable?

[2021-04-24 09:03] dataCobra commented on #50
Hey @RedsonBr140,

glad you like the theme!

the theme doesn't have a search bar or other search functionality. There are also no future plans do implement this feature. Sorry.

Greetings

[2021-04-24 14:27] #50 closed

[2021-04-29 04:17] wondercomm opened #51 "I mistakenly added a file "netlify.toml" to the main repo, please delete it."
I mistakenly added a file "netlify.toml", please delete it.

[2021-04-29 07:09] dataCobra commented on #51
I'm sorry @wondercomm you can't edit or add files to my repository. You must manage your changes by yourself in your fork.

[2021-04-29 07:09] #51 closed

[2021-05-04 20:10] gabrielcaussi opened #52 "Absence of favicon"
I couldn't find the option to set up favicon. Could you let me know how to proceed?

[2021-05-05 06:27] dataCobra commented on #52
Hello @gabrielcaussi,

Yeah sadly I don't have a proper documentation for all features yet.

Here is what you need to do:

 1. Activate favicons in your site configuration: [Link to the example](https://github.com/dataCobra/hugo-vitae/blob/master/exampleSite/config.toml)
 2. Make sure you have the favicon in 16x16 and 32x32 pixels
 3. Copy the favicon to the `static/` folder with the names `favico

[2021-05-06 15:19] gabrielcaussi commented on #52
Thanks @dataCobra,

Using this guide you went through I managed to make it work. Very beautiful theme!

[2021-05-08 13:43] nardoyala opened #53 "Bug: Instagram shortcode in Example Site breaks the site"
There's a bug with the Example site that comes from Facebook blocking access to the public Instagram's API (You can read more about this [here](https://github.com/gohugoio/hugo/issues/7879)).

That causes that, when running `hugo serve` with the example site, the terminal returns this error message:

[code]

There's no simple solution for that, you must set up a Facebook developer account and conf

[2021-05-08 13:53] dataCobra commented on #53
Hey @nardoyala,

removing the page from the exampleSite is the easiest and best solution for this.

I would really appreciate if you create a PR for this.

Regards,
Ben

[2021-05-08 13:54] #52 closed

[2021-05-08 14:26] nardoyala commented on #53
Excellent!

I'll send you the PR right away and I'll connect it with this Issue.

Best regards,
Bernardo.

[2021-05-09 07:13] #53 closed

[2021-05-11 12:18] sophiabrandt commented on #49
@wondercomm Did you see the docs on how to deploy to Netlify on the [official homepage for Hugo](https://gohugo.io/hosting-and-deployment/hosting-on-netlify/)?

As to your question, the settings should be (if you didn't change anything):

Build command:  `hugo --gc --minify`
Publish directory: `public`

[2021-05-12 16:00] wondercomm commented on #49
Thanks, I;ll certainly give it a try. What netlify looks for in the .toml file is the build command, publish directory and the version number for hugo environment.

[2021-05-30 09:41] GaetanLepage opened #56 "dark theme"
Hello !

Is it planned to add support for a dark theme ?
I don't think it is absolutely necessary but it might look pretty nice on Vitae !

[2021-06-03 06:09] dataCobra commented on #56
Hi @GaetanLepage,

I am currently working on a dark mode for the theme, this mode can already be found in the develop branch.

If you want to have a look at it I have the current develop branch running on my website. https://thinkbot.de/en/

[2021-06-03 08:03] GaetanLepage commented on #56
Oh great !
It looks very nice :)

[2021-06-24 20:35] davidkaufmann opened #57 "Lightbox implementation"
I would love a lightbox implementation for version 3.
I like [spotlight.js](https://github.com/nextapps-de/spotlight) and already have a prototype running using custom shortcodes.
I can submit a PR in case this is something you're interested in.

[2021-06-24 20:41] davidkaufmann opened #58 "Add customjs to header partial"
There is a customcss option, a customjs is missing.
Adding functionality such as [Lightboxes ](https://github.com/dataCobra/hugo-vitae/issues/57) becomes harder and sometimes impossible without touching the Theme itself.

[2021-06-30 06:59] dataCobra commented on #57
Hey @davidkaufmann,

this looks interesting, but the implementation would not match my idea of keeping the base of the theme as small and simple as possible.

Also this would be another implementation I would need to maintain.

If you want to add this to your version of the theme, would the customjs header partial that you mentioned in #58 help you

Regards,
Ben

[2021-06-30 07:03] dataCobra commented on #58
Hey @davidkaufmann

As described in the other issue #57, this here is the variant I find best to make it easier for others to use JS in the future.

Because I don't have much time at the moment, I would be happy if you would create a PR for this.

Regards,
Ben

[2021-07-01 21:47] davidkaufmann commented on #58
Hi @dataCobra,

I implemented this in #59.
Happy to see this merged 😃

Take care!

[2021-07-01 21:51] davidkaufmann commented on #57
Hi @dataCobra,

issue #58 will do the job and come in handy later when implementing other stuff 👍🏻
Issue resolved, hence closed 😄

[2021-07-01 21:51] #57 closed

[2021-07-05 15:58] sarathmekala opened #60 "Enhancing post title with reading time, word count and author name"
Hi Benedikt,

I have enhanced the post metadata to include reading time, word count and author name as shown below. These fields are configurable and can be toggled on/off.

[![contrib.png](https://i.postimg.cc/xdQBgvCT/contrib.png)](https://postimg.cc/HrSSk7Xf)

If you are ok with this idea I will raise a pull request

[2021-07-05 16:17] dataCobra commented on #60
Hi @sarathmekala,

that looks amazing! It would be nice if you would create a PR.
Does your version also include the possibility to add a href to the Author?

Here is how I implement it at the moment:
[code]

[2021-07-06 05:26] sarathmekala commented on #60
@Benedikt Great 🙂. I can update the code to make the author as a hyperlink.. will change and raise a PR

[2021-07-06 07:31] dataCobra commented on #60
@sarathmekala thank you! :+1:

Currently the author name is only a hyperlink when the param `authorlink` is given as an option in the front matter of a content file. When this param is not available the author name will be displayed as normal text. This gives people who use the theme the option to choose if there want the author name to be a hyperlink or not.

Please don't forget to read the [info

[2021-07-06 11:06] sarathmekala commented on #60
I have raised a pull request @ https://github.com/dataCobra/hugo-vitae/pull/61. Please review.

[2021-07-07 10:06] #58 closed

[2021-07-07 10:28] dataCobra opened #62 "TODO:"
From: **07.07.2021**
- [x] Porting the PR changes for version 3

[2021-07-07 18:05] sarathmekala commented on #60
@dataCobra Please get back to me if you need any further info from me.

[2021-07-08 07:49] dataCobra commented on #60
Thanks for the offer. If I need further information I'll get back to you. :)

[2021-07-08 11:38] dataCobra commented on #60
Hey @sarathmekala,

FYI: There were a few bugs in your code. I took care of the problems and corrected them myself.

If you want to know what the problem was, here is the commit: 76ac64b6c800c796eff7ec8b28049eb9a8ea2791

[2021-07-09 04:24] sarathmekala commented on #60
@dataCobra ok. LGTM. Thanks.

Closing this issue as the code has got merged.

[2021-07-09 04:24] #60 closed

[2021-07-11 18:04] #62 closed

[2021-07-11 18:06] dataCobra commented on #56
@GaetanLepage I'll close this issue because version 3.0 is on the way and dark mode is already implemented. :+1:

[2021-07-11 18:06] #56 closed

[2021-07-11 18:06] dataCobra commented on #49
Hey @wondercomm,

what is the status for this issue?

[2021-07-11 18:10] wondercomm commented on #49
I couldn't find time to dig deeper into web hosting as it's not my expertise. So for now, I've shelved this project until I find some more clarity.

In simple words and from my understanding, netlify (the hosting platform) is looking for a netlify.toml file in the main folder which should contain the Hugo version and site name, I suppose.

Look at Meghna-hugo theme on Hugo themes, they have an eas

[2021-07-11 18:14] dataCobra commented on #49
Thank you for answering this quick! :+1:

Maybe someone else who is comfortable with netlify deployment will pickup this issue in the future.

For now I'll see this as backlog.

- Ben

[2021-07-11 18:15] wondercomm commented on #49
Sure. Keep me posted if anything happens.

Cheers!

- Varun

________________________________
From: Benedikt T. ***@***.***>
Sent: Sunday, July 11, 2021 2:14:20 PM
To: dataCobra/hugo-vitae ***@***.***>
Cc: wondercomm ***@***.***>; Mention ***@***.***>
Subject: Re: [dataCobra/hugo-vitae] Deploy on Netlify? (#49)

Thank you for answering this quick! 👍

Maybe someone else who is comfortable with netl

[2021-07-20 18:53] #46 closed

[2021-07-21 05:34] dataCobra opened #64 "Improving documentation"
During the release of version 3, the documentation was only partially done.
Therefore, information about certain new and old features is still missing.

- [ ] Improving README.md
- [ ] Improving FEATURES.md

[2021-07-21 05:41] dataCobra opened #65 "Create a new demo/example website"
Create a new demo/example website to better demonstrate the capabilities and features of the theme.
It will also help new users work with Hugo and the theme more easily.

**The following is needed for a demo/example website:**
- [ ] config.toml
- [ ] content/about.md
- [ ] content/post/*.md
- [ ] data/
- [ ] static/img/

[2021-07-26 14:02] leandrolmb opened #66 "How enable the dark-theme"
Hello,

how do i turn on dark mode (showing and clicking the moon icon)? Also and make the default dark-mode page?

Tks

[2021-07-26 14:31] dataCobra commented on #66
Hi @leandrolmb,

dark-mode is activated by pressing the moon icon and deactivated when pressing the sun icon. The dark-mode stays activated when you pressed the moon-icon.

There is currently no option to set one as default for the people that are coming to view your site.

[2021-07-26 14:50] dataCobra commented on #66
Thanks for pointing out that there is no default dark-mode.

I've committed some changes so it is possible to make the darkmode the default.

If you want to know how, use the latest version of Vitae and check the `config.toml` in the `examples/` folder.

[2021-07-26 14:52] leandrolmb commented on #66
Oh ok, I would comment that I wasn't finding it. I will test it, thanks.

[2021-07-26 15:10] dataCobra commented on #66
Please give me feedback if it worked for you. So I can close the issue. :+1:

[2021-07-26 15:31] leandrolmb commented on #66
Working!

Just a little detail at `config.toml` example file:

change the `seURL = "http://example.org/"` to `'ba'seURL = "http://example.org/" first line`.

cause this little problem:

![http](https://user-images.githubusercontent.com/58884687/127015904-f030e63d-2b03-4766-9a08-0ebc2044bc57.png)

Thanks!!

[2021-07-26 15:34] dataCobra commented on #66
@leandrolmb yeah I found this issue while changing the config.toml and fixed it already.

But I forgot to add it to the release... Thanks for pointing this out. :+1:

I'll close this issue now.

[2021-07-26 15:34] #66 closed

[2021-07-28 15:48] leandrolmb opened #67 "Desactivate comments disqus for specific page"
Hello @dataCobra

Maybe i'm doing something wrong, but IDK... The comments are not disabling for specific pages. My page is in `/content/contato.md` and `/content/homepage.md`

The parameters in `config.toml`:

`# Comments`
`[params.comments]`

`# Enable Comments with "true"`
`enabled = true`

`# Comment provider:`
`engine = "disqus"`

`# Desactivate comments for specific page types`
`disableOnTyp

[2021-07-28 16:13] dataCobra commented on #67
Hey @leandrolmb,

for single content pages you need to use the front matter on the page. It's called `commentable`. It can be either true or false.

The `disableOnTypes` feature is only for nested content in directory. For example `/content/post/article.md`, then you need to set `disableOnTypes = ["post"]` then all content below the post directory is not commentable.

I hope this helps you.

Regar

[2021-07-28 16:21] leandrolmb commented on #67
Thanks for the clarification @dataCobra now it's working! ;)

[2021-07-28 16:35] #67 closed

[2021-07-31 17:45] jeffschoner opened #68 "All links have a trailing space"
I recently upgraded from an older version to the latest on main. All links on my site now have a trailing space. This behavior appears to have been introduced in https://github.com/dataCobra/hugo-vitae/commit/04b0597efa5d7274b560cdb7dd1121519b1ff17c while fixing https://github.com/dataCobra/hugo-vitae/issues/55.

It's possible this only occurs on Windows which notoriously encodes newlines differen

[2021-07-31 17:46] jeffschoner commented on #68
PR: https://github.com/dataCobra/hugo-vitae/pull/69

[2021-07-31 17:48] #68 closed

[2021-08-07 10:34] sophiabrandt opened #70 "Internal templates are not available"
I was thinking about implementing [Twitter Card metatags](https://developer.twitter.com/en/docs/twitter-for-websites/cards/overview/abouts-cards) and `og:image` (OpenGraph) metatags for better sharability on social media.

In `layouts/partials/head.html` there are references to several internal templates:
[code]
This implies that the metatags should be implemented in those templates.

However, I c

[2021-08-07 10:44] dataCobra commented on #70
Hello @sophiabrandt,

the templates that you mentioned are available trough **Hugo**  and they will be generated when creating the website with `hugo command. The only thing I need to do as a theme creator is to load them in via`{{ template "..." . }}`.

If you want to know more about how to use these templates take a look at the Hugo documentation.
 - https://gohugo.io/templates/internal/

I hope

[2021-08-07 10:48] dataCobra commented on #70
Just one more info regarding the `images = ['...']` front matter for the content.

If you want to use images make sure the first one in the list is the one that should also be displayed on the post page.

[2021-08-07 13:13] sophiabrandt commented on #70
Huh. :laughing: Thanks for clearing that up.
It did not occur to me to check the Hugo documentation, sorry. :sweat_smile:

[2021-08-07 13:13] #70 closed

[2021-08-07 13:46] dataCobra commented on #70
No worries. :+1: :slightly_smiling_face:

[2021-08-09 09:11] dataCobra opened #71 "Feature: Disable dark mode functionality"
If somebody don't want to have the dark mode functionality the person should be able to deactivate it.

[2021-08-09 09:13] dataCobra opened #72 "Create templates for issues and pull requests"
Make use of the templates feature that GitHub provides.

[2021-08-09 09:15] dataCobra opened #73 "Rework the "set dark mode as default" feature"
Since the request was made I created the option to set the dark mode as default.

This code is not perfect and needs to be reworked.

[2021-08-12 03:30] omajid opened #74 "Code in hyperlink doesn't render"
[code]

Gets rendered as:

![image](https://user-images.githubusercontent.com/174451/129133566-e179a559-7d30-4de2-aea9-d9e83fcb53a9.png)

And

[code]

Gets rendered as

![image](https://user-images.githubusercontent.com/174451/129133636-fe6856db-7c25-49eb-b05c-8a06f93f3151.png)

This didn't happen in a previous release of vitae.

[PaperMod](https://github.com/adityatelange/hugo-PaperMod) renders t

[2021-08-12 07:52] #74 closed

[2021-08-12 08:01] dataCobra commented on #74
Hi @omajid,

thanks for informing me about the bug.  :+1:
Because of your hints it was easy for me to reproduce the bug and fix it.

I'm in the process of creating a new release. So you can download a new version shortly without the problem.

Regards,
Ben

[2021-08-12 14:09] omajid commented on #74
Thanks for the quick fix!

[2021-09-15 10:18] 0xYUANTI opened #76 "use safeURL"
is there any reason not to use safeUrl in layouts/partials/header.html as documented here:

https://gohugo.io/functions/safeurl/

the change would be adding "| safeUrl' in a few places (e.g. line 48) and the benefit would be that it would let us use irc:// links and such (anything other than http/s and mailto)

[2021-09-15 18:07] nhhollander opened #77 "Source for default list page header prefers `.Data.Term` over `.Page.Title`"
In the default list template, the page header is set to the humanized form of `.Data.Term` by default, with a fallback to `.Title` if the former is not set.

https://github.com/dataCobra/hugo-vitae/blob/ce1dfd1d3dc1e298aea81ebb4120f235a02247cb/layouts/_default/list.html#L2-L6

I'm relatively new to hugo development, so I'm not sure if this prioritization was selected intentionally, but it looks li

[2021-09-15 19:05] leozqi opened #78 "Dark mode icon is not shown if no social links are specified"
Hello and thanks for the great theme,

If no social links are specified through `params.social` while using this theme, the dark mode icon is not rendered on the blog's header. Changing the [`layouts/partial/header.html`](https://github.com/dataCobra/hugo-vitae/blob/main/layouts/partials/header.html) file fixes this issue.

I've tested a solution that works for me and will submit it as a pull requ

[2021-09-16 06:21] dataCobra commented on #78
Hello @leozqi,

thanks you for the information and the fix. :+1:

I'll review the PR and merge is ASAP.

Thanks,
Ben

[2021-09-16 06:32] dataCobra commented on #77
Hi @nhhollander,

thank you for the great explanation. It does indeed sound like I made a mistake there. I'll have a closer look and then think about what the next steps are. :+1:

Regards,
Ben

[2021-09-16 06:34] dataCobra commented on #76
Hi @0xYUANTI,

I'll have a look at it. Thanks for bringing it to my attention. :slightly_smiling_face:

Regards,
Ben

[2021-09-16 06:39] #78 closed

[2021-09-23 18:05] dataCobra commented on #77
Hey @nhhollander,

I had the time to check this part of my code and I'm able to give you an answer now.

The way it works currently is the intended way. Here is the explanation why:

The `.Data.Term` variable is only set when the created HTML list is based on a selected tag. For example when you open https://thinkbot.de/en/tags and select one of the tags, then the variable is used.

In all other c

[2021-09-23 23:52] nhhollander commented on #77
Hello Ben,

It seems to me that if a specific title has been specified in `_index.md` then that title should take precedence over the humanized form generated from the tag name.

For example, my site has a tag like `best-wfh-tools` and I have set `title: "Best tools for Working from Home"` in `_index.md`. Since a title was explicitly provided for this particular listing page, I would expect that t

[2021-10-14 14:50] ozzie-eu opened #81 "Term with hashtag causing 404 error"
I was testing the tags on my [personal site](https://www.ozzie.eu/) and one with the '#' character caused a 404 - Not Found error.
The source file from the Hugo theme rendering the tag links is (\hugo-vitae\layouts\_default\terms.html).
I was able to solve it locally, for the '#', replacing it with a the '#23' sequence:

The theme should replace special characters with [URL encoding](https://www.w

[2021-11-02 10:47] dataCobra commented on #81
Hey @ozzie-eu, thanks for creating in Issue. Currently im very busy, but I'll try to take a look in the next couple of days.

Regards Ben

[2021-11-02 10:47] dataCobra commented on #77
I'm currently pretty busy, but I'll try to work on this in the next couple of days.

Regards Ben

[2021-11-02 10:48] dataCobra commented on #76
I'm currently pretty busy, but I'll try to work on this in the next couple of days.

Regards Ben

[2021-11-20 17:51] dataCobra commented on #81
I finally got the time to take a look at the problem.

Sadly there is no way to fix this issue with Hugo functions at the moment, but your change does fix this problem for now.

I added your change to the develop branch and test it some more in the next days. When I'm sure it does not break
something else, I'll add it to the main branch.

Thank you for helping to make the theme better!

[2022-01-17 15:25] farooqkz opened #82 "[Question] How to put more posts on homepage?"

[2022-02-03 18:06] celeroncool opened #84 "Dark mode markdown codeblock background is white"
I just upgraded my sites vitae theme to the latest version, and I noticed that when using codeblocks with markdown codeblock https://markdown.land/markdown-code-block
The codeblock background is set to
[code]

But later on it is set to

[code]

This causes code to be unreadable in dark mode.
This does not affect inline code without newline after codeblock "```".

![Capture](https://user-images.git

[2022-02-07 12:50] dataCobra commented on #84
Hi @celeroncool,

thank you for reporting this issue.

I'll have a look at this and try to fix it.

Regards,
Ben

[2022-02-07 12:52] dataCobra commented on #82
Hi @farooqkz,

you didn't add a description to explain further what you're trying to do and what the outcome should be.

Please add this, so I can help you better.

Regards,
Ben

[2022-02-07 14:00] farooqkz commented on #82
I thought the question is clear.
However in the case it isn't: How can I change the number of posts shown on the first page? Currently there are too few displayed.

[2022-02-12 15:12] farooqkz commented on #82
I've got many other questions, too. But I guess I've to make new issues right?

[2022-02-12 17:23] dataCobra commented on #82
Hey @farooqkz,

it would be nice if you could create a issue for every question that you have.
This way it's easier for me to have an overview.

Regards,
Ben

[2022-02-12 17:28] #76 closed

[2022-02-12 17:28] #81 closed

[2022-02-13 11:40] farooqkz commented on #82
Thanks. I've got my answer :)

[2022-03-25 10:41] vladvasiliu commented on #84
Hi,

I can actually reproduce this, with the example config for pygmets, using either monokai or colorful theme.

[code]

[2022-03-26 11:37] dataCobra commented on #84
Hi @vladvasiliu @celeroncool,

I'm not able to reproduce the Issue with the given information. :frowning_face:

Is it possible that you give me some example content that is rendered wrong?

Regards,
Ben

[2022-04-06 10:50] dataCobra commented on #84
Hello,

@vladvasiliu thanks to your latest message I was able to reproduce the issue.

It seems like your markup configuration uses a style that the theme is yet not compatible with.

I'll try to fix this problem.

Here the snippet from your config that I'm referring to:
[code]

[2022-04-09 09:27] vladvasiliu commented on #84
Thanks, can confirm it works if I switch to monokai.

[2022-05-13 08:55] GaetanLepage opened #85 "readability issues in tables"
Hello !

Thank you once again for this great theme !

I would just like to make a suggestion for improvement: some colors make the content sometimes hard to read.
In tables, the alternate colors is a great idea. However, on the darker lines, **links text** is hard to read:
- When using dark mode, the text is not really detaching from the line background
- In both light mode and dark mode, the text

[2022-06-25 12:48] farooqkz opened #86 "Support for Persian?"
Hello there. Very nice template, been using it in [my website](https://far.chickenkiller.com). But I am about to launch a Persian blog as well. Does it support RTL langugages like Persian? If yes, how can I use it? If no, How can I contribute translations or support for Persian?

ping @dataCobra

[2022-07-15 10:19] dataCobra commented on #86
Hello @farooqkz,

since the rendering of the website is done by hugo and not the theme. I recommend you to check
the documentation of hugo. I've sadly no idea if RTS languages work.

Regards,
Ben

[2022-07-18 10:01] dataCobra commented on #86
Hey,

this sounds very nice.

Let me know when you're finished.

Regards,
Ben

[2022-07-23 08:20] dataCobra commented on #85
Hey @GaetanLepage,

thanks for reporting this CSS flaw.

Unfortunately private things need a lot of my time at the moment,
so I can't say when I'm able to take care of this issue.

I hope to get back on track sooner than later.

Regards,
Ben

[2022-07-23 08:23] dataCobra commented on #49
It's over a year without any update on this topic.

I'll close this issue for now.

Maybe this link will help you:
 -> https://gohugo.io/hosting-and-deployment/hosting-on-netlify/

Regards,
Ben

[2022-07-23 08:23] #49 closed